body {
	font-size: .8em;
	line-height: 1.3em;
	font-family: 'PT Sans Narrow', sans-serif;
}

.dontprint {
	display: none;
}

h1 > span > small {
	display: none;
}

#profile > div.row.cv-section > div.span9 > div > div > div:nth-child(6) {
	widht: 35%;
	float: left;
}

#profile > div.row.cv-section > div.span9 > div > div > div:nth-child(7) {
	width: 35%;
	float: left;
}

#work-experience {
	clear: both;
}

#resume-header {
	float: left;
	text-align: left;
	height: 900px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}

#resume-header h1 {
	margin: 0 70px 0 0;
	font-size: 2em;
}

#resume-header p {
	font-size: 1.3em;
	line-height: 1.2em;
}

ul {
	list-style: none;
	padding: 0;
	
}

.span4 {
	width: 250px;
}

a {
	text-decoration: none;
	color: #000;
}

span.btn {
	display: none;
}

img {
	display: none;
}

#narrative-list, #short-list, #commercial-list {
	width: 31%;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

#narrative-list h1, #short-list h1, #commercial-list h1 {
	font-size: 1.4em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#narrative-list h3, #short-list h3, #commercial-list h3 {
	display: none
}

#narrative-list p, #short-list p, #commercial-list p {
	font-size: .85em;
	line-height: 1.1em;
}

#short-list {
	border: none;
}

#narrative-list {
	padding-left: 0;
}

#commercial-list {
	height: 23.5cm;
	overflow: hidden;
	border-left: 1px solid #ccc;
	border-right: none;
	padding-right: 0;	
}

#commercial-list p {
	font-size: .72em;
	line-height: 1.1em;
	margin: 0 0 7px 0;
}

.print-break {
	page-break-after: always;
}

.client-list span.btn {
	display: inline;
}

.span4 {
	width: 100%;
}

.print-footer {
	position: absolute;
	bottom: 0;
}